#formLogin {
    background-image: url("../images/verano.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
}

#formLogin .container-fluid {
    //max-width: 33vw;
}

#formLogin .container-fluid > div {
    background-color: rgba(255,255,255,0.5);
    padding-top: 25px;
    position: relative;
    //top: 20vh;
    border-radius: 5px;
    //min-width: 290px;
    transform: translate(-50%, 30%);
    left: 50%;
}

#formLogin .container-fluid form div {
      padding: 0 10px;
  }

#divBtnLogin {
    display: flex;
    justify-content: flex-end;
}

#formLogin #divLinkPass {
    display:flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

#divLinkPass a {
    text-decoration: none;
}

#divFormPass {
    //width: 400px;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 25px;
    position: relative;
    border-radius: 5px;
    //min-width: 290px;
    transform: translate(-50%, 30%);
    left: 50%;
    display: none;
}

#divFormPass button {
    float: right;
}

#divSubmit {
    display: flex;
    justify-content: flex-end;
}

#divFormPass input {
    margin-top: 5px;
}

@media (max-width: 599px) {
    #formLogin .container-fluid > div,
    #divFormPass {
        width: 80vw;
    }
}

@media (min-width: 600px) {
    #formLogin .container-fluid > div,
    #divFormPass {
        width: 60vw;
    }
}
@media (min-width: 900px) {
    #formLogin .container-fluid > div,
    #divFormPass {
        width: 50vw;
    }
}
@media (min-width: 1200px) {
    #formLogin .container-fluid > div,
    #divFormPass {
        width: 30vw;
    }
}
@media (min-width: 1800px) {
    #formLogin .container-fluid > div,
    #divFormPass {
        width: 30vw;
    }
}
